
<%- include("header") -%>
  <div class="box" id="heading">
    <h1> <%= kindOfDay %> </h1>
  </div>

  <div class="box">
    <%  newListItems.forEach(function(task){ %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= task._id %>" onchange="this.form.submit()">
          <p><%= task.name %> </p>
        </div>
        <!-- here we can use hidden input to get the data which is not typed by user and we have limited field to get data. -->
        <input type="hidden" name="listName" value="<%= kindOfDay %>" ></input>
      </form>
      
      <% })  %>
        


  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off ">
    <button type="submit" name="list" value= <%= kindOfDay %>>+</button>
  </form>
</div>

<%- include("footer") -%>
